body {
    background-color: rgb(10, 10, 10);
    width: 350px;
    height: 250px;
    scrollbar-width: thin;
    scrollbar-color: rgb(40, 40, 40) rgb(1, 1, 1);
    font: menu;
}

.word {
    color: antiquewhite;
    /* width: 60px; */
    /* height: 14px; */
    font-size: 12px;
}

.meaning {
    color: antiquewhite;
    /* width: 60px; */
    /* height: 14px; */
    font-size: 12px;
}

.content {
    width: 300px;
    margin-left: 20px;
}

.content_wrapper {
    width: 340px;
    height: 205px;
    border: 1px solid white;
    border-top: none;
}

#input_tdk {
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    resize: none;
    border: none;
    width: 300px;
    height: 25px;
}

.search_engine_result_div {
    margin-top: 5px;
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    border: none;
    width: 305px;
    height: 132px;
    overflow-y: auto;
}

#search_engines {
    width: 340px;
    height: 40px;
    display: flex;
    border: 1px solid white;
}

#search_engine_tdk_option,
#search_engine_google_option {
    width: 170px;
    height: 40px;
    color: white;
    text-align: center;
}

#search_engine_tdk_option:hover,
#search_engine_google_option:hover {
    background-color: rgb(60,60,60,1);
}

#search_engine_seperator {
    width: 1px;
    background-color: white;
}

#search_engine_google_div,
#search_engine_tdk_div {
    position: absolute;
}

.border-div {
    border: 1px solid white;
    border-top: none;
}

#input_google {
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    resize: none;
    border: none;
    width: 300px;
    height: 25px;
}