body
{
    background-color: rgb(25, 25, 25);
    color: rgb(210,210,210);
}

.fwh {
    width: 100%;
    height: 100%;
}

.main
{
    background-color: rgb(25, 25, 25);
    color: rgb(210,210,210);
}

.inline
{
    display:inline-block;
}

.optionsDiv {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.optionsDiv>div {
    margin-top: 1em;
}

.modifierSelectDiv {
    display: flex;
}

#addModifierButton {
    width: 100%;
    height: 100%;
    background: url("../icons/ekle.png") no-repeat;
    background-size: cover;
    border: none;
}

#addModifierButton:hover
{
    background-color: rgba(40,40,40,128);
}

#addModifierButton:active
{
    background-color: rgba(80,80,80,20);
}

.addModifierButtonDiv
{
    /*Bilmediğim bir sebepten dolayı buton yüksekliğin çeyreği kadar aşağıda oluyor.O yüzden 
    eşitlemek için çeyreği kadar yukarı çektim.*/
    position:relative;
    top:-5px;
}

#blockDiv
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.75);
    visibility: hidden;
}

.selectDiv {
    display: contents;
}

