body {
    background-color: rgb(10, 10, 10);
    width: 350px;
    height: 250px;
    scrollbar-width: thin;
    scrollbar-color: rgb(40, 40, 40) rgb(1, 1, 1);
    font: menu;
}

#Kelime {
    color: antiquewhite;
    width: 60px;
    height: 14px;
    font-size: 12px;
}

#Anlam {
    color: antiquewhite;
    width: 60px;
    height: 14px;
    font-size: 12px;
}

#ickisim {
    width: 300px;
}

#icerik {
    margin-left: 20px;
}

#icerikKapsayici {
    width: 340px;
    height: 205px;
    border: 1px solid white;
}

#cevirilecekTA {
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    resize: none;
    border: none;
    width: 300px;
    height: 25px;
}

#cevirilenAlan {
    margin-top: 5px;
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    border: none;
    width: 305px;
    height: 132px;
    overflow-y: auto;
}

#SecenekKapsayici {
    width: 340px;
    height: 40px;
    display: flex;
    border: 1px solid white;
}

#TDK,
#Google {
    width: 170px;
    height: 40px;
    color: white;
    text-align: center;
}

#TDK:hover,
#Google:hover {
    background-color: rgb(92, 91, 86);
}

#Sınır {
    width: 2px;
    height: 40px;
    background-color: white;
}

#GoogleKapsayici,
#TDKKapsayici {
    position: absolute;
}

#gicerik {
    width: 340px;
    height: 205px;
}

#gcevirilecekTA {
    background-color: rgb(30, 30, 30);
    color: antiquewhite;
    resize: none;
    border: none;
    width: 300px;
    height: 25px;
}

#gcevirilecekTAKapsayici {
    margin-left: 20px;
    margin-top: 5px;
}

#gcevirilenAlan {
    height: calc(100% - 60px);
    width: 300px;
    margin-left: 20px;
    background-color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
}

#gKelime,
#gAnlamı {
    color: white;
}